@import "../../styles/variables.scss";

.ProductCard {
  width: 350px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

  .thumbnail {
    height: 195px;
    position: relative;
    background-color: #e1e1e1;

    .badge {
      color: $white-color;
      font-weight: bold;
      text-align: center;

      &--soldOutSoon {
        @include absolute($top: 0, $left: 0);
        font-size: 14px;

        width: 72px;
        background-color: $red-color;
        padding: 2px 0;
      }

      &--rate {
        border-radius: 4px;
        @include absolute($right: 9px, $bottom: 5px);
        font-size: 12px;

        width: 62px;
        background-color: $blue-color;
        padding: 3px 0;
      }
    }
  }

  .achievement-rate {
    background-color: #e1e1e1;
    height: 6px;
    position: relative;

    .active {
      height: 100%;
      @include absolute(0, 0, 0, 0);
      background-image: linear-gradient(to right, #5ac3fc, $blue-color);
    }
  }

  .information {
    padding: 16px;

    .badge {
      border-radius: 5px;
      font-size: 12px;
      font-weight: normal;
      color: #666666;
      text-align: center;

      width: 64px;
      background-color: #f7f7f7;
      padding: 3px 0;
    }

    .values {
      vertical-align: middle;
      margin: 4px 0;

      span {
        font-size: 20px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.87);

        &:after {
          content: "";
          width: 1px;
          height: 14px;
          background-color: rgba(0, 0, 0, 0.6);
          display: inline-block;
          margin: 0 16px;
        }

        &:last-child:after {
          display: none;
        }

        &.highlight {
          font-size: 30px;
          color: $blue-color;
        }
      }
    }

    .title {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .buttons {
    margin-top: 16px;

    .btn {
      height: 40px;
      width: calc((100% - 8px) / 2);
      border-radius: 4px;
      font-size: 14px;
      border-color: $blue-color;

      &:first-child {
        margin-right: 8px;
      }

      &-stroke {
        color: $blue-color;
        background-color: $white-color;
      }

      &-fill {
        font-weight: bold;
        color: $white-color;
        background-color: $blue-color;
      }
    }
  }
}
